@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row p-4">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">Employees</h4>
                    <p class="card-text">Get employee details</p>
                    <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary">Click Here!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">Departments</h4>
                    <p class="card-text">Get department details</p>
                    <a asp-controller="Department" asp-action="Index" class="btn btn-secondary">Click Here!</a>
                </div>
            </div>
        </div>
    </div>
</div>
